<?xml version="1.0" encoding="UTF-8"?>
<plugin>
    <name>
	<lang name="default">Ad units</lang>
    </name>
    <author>
	<lang name="default">netlanc</lang>
    </author>
    <homepage>http://netlanc.net</homepage>
    <version>1.0.1</version>
    <requires>
	<livestreet>0.4.x,0.5</livestreet>
	<plugins>

	</plugins>
    </requires>
    <description>
	<lang name="default">Ad units</lang>
	<lang name="russian">Рекламные блоки</lang>
    </description>
    <delegate>
	<module></module>
	<action></action>
	<template></template>
	<entity></entity>
    </delegate>
    <settings>{settings}adunits/</settings>
</plugin>
