<?xml version="1.0" encoding="UTF-8"?>
<plugin>
  <name>
    <lang name="default">Simple Search and Auto Completer</lang>
  </name>
  <author>
    <lang name="default">PSNet</lang>
  </author>
  <homepage>http://psnet.lookformp3.net</homepage>
  <version>1.1.2</version>
  <requires>
    <livestreet>1.0</livestreet>
    <plugins></plugins>
  </requires>
  <description>
    <lang name="default">Good search with relevance for topics, comments, people and search auto completer using tags.</lang>
    <lang name="russian">Хороший поиск с релевантностью по топикам, комментам и пользователям, автозаполнение (автокомплитер) по тегам для формы поиска.</lang>
  </description>
</plugin>
